@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1658975761658') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche2:before {
  content: "\f0075";
}

.icon-weixiubanshou:before {
  content: "\e715";
}

.icon-liwuhuodong:before {
  content: "\f01da";
}

.icon-31dingwei:before {
  content: "\f0205";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-shouji:before {
  content: "\e791";
}

.icon-15tianbaotui01:before {
  content: "\e688";
}

.icon-shouhoufuwu:before {
  content: "\e687";
}

.icon-gerenzhongxin:before {
  content: "\e62c";
}

.icon-qitianwuliyoutuihuan:before {
  content: "\e63d";
}

.icon-shouhoufuwu1:before {
  content: "\e60f";
}

.icon-a-xinxiliaotiantongzhi:before {
  content: "\e640";
}

.icon-a-Frame18:before {
  content: "\e607";
}

.icon-a-Frame19:before {
  content: "\e608";
}

.icon-a-Frame14:before {
  content: "\e609";
}

.icon-a-Frame8:before {
  content: "\e60a";
}

.icon-a-Frame7:before {
  content: "\e60b";
}

